.App {
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #3A405A;
}

.createMealButton {
    position: fixed;
    margin: 10% 8% 8%;
}

.App-header {
    background-color: #3A405A;
    color: white;
    position: fixed;
    width: 100%;
    font-size: 50px;
    z-index: 2;
}

#navTab {
    margin-top: 1%;
    margin-left: 1%;
    position: fixed;
}

#title {
    margin-top: 1%;
    margin-left: 40%;
    position: fixed;
}

#placeholder {
    margin: 0;
    width: 100px;
}

.foodElements {
    margin-top: 7%;
    display: grid;
    z-index: 0;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
    gap: 50px;
    height: 100%;
}

.content {
    background-image: linear-gradient(to bottom right, #274156, #1C6E8C);
    padding: 10px;
}

.foodElement {
    border-radius: 15%;
    border: 4px solid #3A405A;
    text-align: center;
}

.foodElement:hover {
    border: 4px solid ghostwhite;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3A405A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.background-color-darkBlue {
    background-color: #3A405A;
}

.background-color-skySurge {
    background-color: #06BEE1;
}

.background-color-oceanDeep {
    background-color: #1768AC;
}

.background-color-persianBlue {
    background-color: #274156;
}

.white-font {
    color: ghostwhite;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.nutritionTable {
    display: flex;
    flex-direction: column;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.CardButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3A405A;
    z-index: 0;
}

.generateButton {
    display: flex;
    justify-content: center;
}

.justify-center {
    justify-content: center;
    background-color: #3A405A;
}

.z-Index0 {
    z-index: 0 !important;
}

#addButton {
    margin: 30px 80px 20px 90%;
    background-color: #818181;
}

.addFoodCardTitle {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.addNutritionInfo {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}


